.name-textfield{
    border-radius: 20px !important;
}
.css-13f4wtj-MuiInputBase-root-MuiFilledInput-root:before{
    border-bottom: 0px !important;
}
.css-13f4wtj-MuiInputBase-root-MuiFilledInput-root::after{
    border-bottom: 0px !important;
}
.css-13f4wtj-MuiInputBase-root-MuiFilledInput-root{
    border-radius: 20px !important;
    border-bottom: 0px !important;
}
.css-103627d-MuiFormLabel-root-MuiInputLabel-root.Mui-focused {
    color: #1b1858 !important;
}
.css-1homike-MuiSelect-select-MuiInputBase-input-MuiOutlinedInput-input{
    background: rgba(0, 0, 0, 0.06) !important;
    border-radius: 20px !important;
}
.css-1d3z3hw-MuiOutlinedInput-notchedOutline{
    border: 0px !important;
}

.css-11m5dqo-MuiFormLabel-root-MuiInputLabel-root{
    transform: translate(12px, 8px) scale(0.75) !important;
    color: #1b1858 !important;
}
.css-yi3mkw{
    margin-top: 20px !important;
}